<link href="~/Styles/dist/sharedView/mask.css?v=27a1a4533b" rel="stylesheet" />
<link href="~/Styles/dist/Public/top.css?v=48c513a60c" rel="stylesheet" />

<div class="header">
    <div class="header-main clearfix">
        <a class="logo" href="@CustomConfig.WebBailunNews">
            <img src="~/Images/public/logo.png" />
        </a>
        <ul class="clearfix">
            <li data-active="news"><a href="@CustomConfig.WebBailunNews">市场快讯</a></li>
            <li data-active="calendar"><a href="@CustomConfig.WebBailunRili">财经日历</a></li>
            <li data-active="price"><a href="@CustomConfig.WebBailunBaojia">市场报价</a></li>
            <li data-active="data"><a href="@CustomConfig.WebBailunShuju">宏观数据</a></li>
        </ul>
        <div class="app-download">
            <a href="@CustomConfig.WebBailun/download/app" target="_blank">
                <img src="~/Images/news/phone-icon.png" />
                <em>APP 下载</em>
            </a>
        </div>
    </div>
</div>

<script src="~/Scripts/dist/sharedView/mask.js?v=67881201a0"></script>
<script src="~/Scripts/dist/sharedView/linkMap.js?v=ea341901c3"></script>
